# Always
.ssh

# IDE stuff
.idea

# Local db (test) folder
data

# Local logs
*.log

# Derived/generated/transient project files/resources
client/bower_components
client/scripts/app.models.js
client/scripts/comparators.js
client/scripts/fun.js
client/scripts/string-extensions.js
client/scripts/utils.js
build
data_PREVIOUS
docs
node_modules
npm-debug.log

# Temp files and development stuff
grunt.cmd
howto.txt
