# Always
.ssh

# Ignore IDE stuff
.idea

# Ignore local db (test) folder
data

# Ignore local logs
npm-debug.log

# Ignore derived/generated/transient project files/resources
client/scripts/fun.js
client/scripts/string-extensions.js
client/scripts/comparators.js
client/scripts/app.models.js
client/bower_components
node_modules
build
docs
howto.txt
README.html

# Temporary local dev stuff, not sure about their future ...
client/fonts
client/images/podium_resultats.jpeg
client/images/sport-man-on-podium-184220.jpg
client/medal.ico
client/nff.ico
server/scripts/fun.js
