# Always
.ssh

# Ignore IDE stuff
.idea

# Ignore local db (test) folder
data

# Ignore local logs
*.log

# Ignore derived/generated/transient project files/resources
client/scripts/fun.js
client/scripts/string-extensions.js
client/scripts/utils.js
client/scripts/comparators.js
client/scripts/app.models.js
client/bower_components
node_modules
build
docs
howto.txt
