body {
    font-family: 'Open Sans Condensed', 'Arial Narrow', serif;
    font-weight: 400;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

hr {
    border: 0;
    border-top: 1px solid #eeeeee;
}

/**
 * Bootstrap overrides
 */
h2, .h2 {
    font-size: 24px;
}

#content {
    padding-top: 6rem;
    padding-bottom: 1rem;
}

/**
 *  Debug
 ******************************************************************************/
/*
div {
    border: 1px;
    border-style: dotted;
}

header {
    border: 1px dashed;
}

section {
    border: 1px dashed;
}

article {
    border: 1px dashed;
}

footer {
    border: 1px dashed;
}

nav {
    border: 1px dashed;
}

img {
    border: dashed;
}
*/
