/**
 * Imports
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic);

/* Not suited for offline/AppCache usage ...
@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSans-CondLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

/**
 * Base
 */
body {
    font-family: 'Open Sans Condensed', 'Arial Narrow', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #333;
}

hr {
    border: 0;
    border-top: 1px solid #eeeeee;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

/**
 * Bootstrap overrides
 */
h2, .h2 {
    font-size: 24px;
}

.btn {
    width: 95px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

#currentResultsTable .modal-content {
    width: 625px;
    margin-top: 75px;
    background-image: linear-gradient(to bottom right, #ffffff 0%, #f96e00 50%);
}

#predictionsTable .modal-content {
    width: 340px;
    margin-top: 75px;
    background-image: linear-gradient(to bottom right, #ffffff 0%, #f96e00 75%);
}

/**
 * Other classes
 */
.x-large {
    font-size: x-large;
}

/* Flexbox: http://css-tricks.com/snippets/css/a-guide-to-flexbox */
.full-width-inline-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/**
 * Specific element manipulations
 */
#fullscreen {
    margin-right: 4rem;
    -o-transform: translate(2.5rem, -2rem);
    -moz-transform: translate(2.5rem, -2rem);
    -webkit-transform: translate(2.5rem, -2rem);
    -ms-transform: translate(2.5rem, -2rem);
}

/**
 *  Module           : Font Awesome icons
 *  Portable/reusable: Yes
 *  Dependencies     : "bootstrap.css", "font-awesome.css"
 *  Resources        : http://fontawesome.io/icons/
 *
 *  Example:
 *      <a href="mylinkedinpage" class="icon-up"></a>
 ******************************************************************************/
.icon-check::before {
    font-family: FontAwesome, sans-serif;
    content: "\f00c";
}

.icon-bar-chart::before {
    font-family: FontAwesome, sans-serif;
    content: "\f080";
}

.icon-up-plus::before {
    font-family: FontAwesome, sans-serif;
    content: "\f0d8";
    font-size: large;
    color: #61c100;
}

.icon-up::before {
    font-family: FontAwesome, sans-serif;
    content: "\f0d8";
    font-size: large;
    color: #d3d3d3;
}

.icon-down::before {
    font-family: FontAwesome, sans-serif;
    content: "\f0d7";
    font-size: large;
    color: #d3d3d3;
}

.icon-down-plus::before {
    font-family: FontAwesome, sans-serif;
    content: "\f0d7";
    font-size: large;
    color: red;
}

.icon-chevron-left::before {
    font-family: FontAwesome, sans-serif;
    content: "\f053";
    color: dimgrey;
}

.icon-chevron-right::before {
    font-family: FontAwesome, sans-serif;
    content: "\f054";
    color: dimgrey;
}

.icon-arrows-alt::before {
    font-family: FontAwesome, sans-serif;
    content: "\f0b2";
}

.icon-trophy-gold::before {
    font-family: FontAwesome, sans-serif;
    content: "\f091";
    color: #ffcd00;
}

.icon-trophy-silver::before {
    font-family: FontAwesome, sans-serif;
    content: "\f091";
    color: #c0c0c0;
}

.icon-trophy-bronze::before {
    font-family: FontAwesome, sans-serif;
    content: "\f091";
    color: #cd7f32;
}

/**
 *  Module           : Debug
 *  Portable/reusable: Yes
 *  Dependencies     : -
 *  Resources        : -
 ******************************************************************************/
/*
div {
    border: 1px;
    border-style: dotted;
}

header {
    border: 1px dashed;
}

section {
    border: 1px dashed;
}

article {
    border: 1px dashed;
}

footer {
    border: 1px dashed;
}

nav {
    border: 1px dashed;
}

img {
    border: dashed;
}
*/
